@font-face {
    font-family: "Dosis";
    src: url("../font/Dosis.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Lilita One";
    src: url("../font/LilitaOne.ttf");
}

html {
    scroll-behavior: smooth;
}

body {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Dosis";

    color: #fff;
    margin: 0px;

    background-color: rgba(255, 255, 255, 0.9);
    background-image: url("../img/bg-repeat-reduce.webp");
    background-repeat: repeat;
    background-blend-mode: lighten;
}

hr {
    position: relative;
    background-color: none;
    border: none;
    height: 4rem;
    width: 100%;
    margin: 1rem auto;
    text-align: center;
}

hr:after {
    position: relative;
    top: -2.5rem;
    font-size: 5rem;
    background: none;
    display: inline-block;
    color: #22181c;
    font-family: "Londrina Shadow";
    line-height: 1;
    content: ". . . . . . .";
}

.icon-medsos {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    cursor: pointer;
}


.secondary {
    color: #22181c;
}

.left {
    text-align: left;
}

.dosis {
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Dosis", sans-serif;
}

/* Heading
   ----------------------------- */
h1 {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: wheat;
    letter-spacing: 1px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 span {
    margin-top: 5px;
    font-size: 15px;
    color: white;
    word-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Dosis", sans-serif;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

h1 span:after,
h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 8px;
    background-color: #0000;
}

h4 {
    margin-top: 5px;
    font-size: 15px;
    color: white;
    word-spacing: 1px;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
}

.wrapper {
    position: relative;
    min-height: 578px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper-responsive {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.title {
    width: 30%;
}


/* HEADER */

#header {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0rem;
    background-color: rgba(34, 24, 28, 0.4);
    backdrop-filter: blur(5px);
    border-bottom: 2px solid rgba(34, 24, 28, 1);
}

#header img {
    width: 4rem;
    margin-left: 2rem;
}

nav {
    margin-right: 2rem;
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    justify-content: space-around;
}

nav>a {

    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    text-align: center;
    background-color: #22181c;
    text-decoration: none;
    color: #fff;
}

nav>a:hover {
    background-color: rgba(34, 24, 28, 0.5) !important;
    backdrop-filter: blur(8px);
    cursor: pointer;
}

/* HOME */


.home-bg {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: top right;
    /* filter: blur(2px); */
    height: 578px;
    width: 100%;
}

.home-desc {
    font-size: large;
    position: absolute;
    top: 10rem;
    left: 5rem;
}


/* PROFILE */
.profile-img {
    background-image: url(../img/me.png);
    background-size: 15vw;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20vw;
    width: 20vw;
    height: 20vw;

}

.profile-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
    text-justify: newspaper;
}


/* PORTOFOLIO */
#porto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.porto-tiles {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.porto-tile {
    overflow: hidden;
    margin: 2rem;
    width: 15rem;
    height: 20em;
    border-radius: 1rem;
    background-image: linear-gradient(to right bottom, rgba(118, 100, 107, 0.5), rgba(96, 80, 86, 0.5), rgba(74, 60, 65, 0.5), rgba(53, 41, 46, 0.6), rgba(34, 24, 28, 0.8));
    /* border: 2px solid rgba(34, 24, 28, 0.6); */
    -webkit-box-shadow: 14px 21px 67px -6px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 14px 21px 67px -6px rgba(0, 0, 0, 0.68);
    box-shadow: 14px 21px 67px -6px rgba(0, 0, 0, 0.68);
    backdrop-filter: blur(2px);
}

.porto-tile h1 {
    margin-top: -1rem;
    padding: 2rem;
    padding-top: 3rem;
    height: 4rem;
    background-color: #22181c;
    font-size: 2rem;
}

.porto-tile h4 {
    margin: 2rem;
    font-size: 1rem;
    text-wrap: wrap;
    text-align: center;
}

/* MESSAGE */

.form-wrapper,
.result-wrapper {
    padding: 0rem 2rem;
    width: 30vw;
    min-height: 300px;
}

.result-wrapper {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    border: 2px solid #22181c;
    border-radius: 2rem;
    margin-top: 0.6rem;
}

.result-wrapper>.row {
    display: flex;
    width: 100%;
    padding: 1rem 0rem;
}

.result-wrapper>.row>.label {
    width: 30%;
}

.result-wrapper>.row>.result {
    width: 70%;
    border-bottom: 1px solid #ccc;
}

#msg-error {
    display: none;
    background-color: rgba(255, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 1rem;
    backdrop-filter: blur(1px);

}

.active {
    display: flex;
}

.flex {
    display: flex !important;
    animation-name: animate-message-result;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

input,
textarea {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Dosis", sans-serif;
    font-weight: bold;
    border-radius: 1rem;
    border: 2px solid black;

}

input.error,
textarea.error {
    border: 2px solid red;
}

.bold {
    font-weight: bold;
}

input[type=text],
input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    height: 10rem;
}

input[type=submit],
button,
.btn-nav {
    width: 5rem;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #22181c !important;
    text-decoration: none;
    color: #fff !important;
    border-radius: 1px;
    border: 1px transparent solid;
    border-radius: 1rem;
    text-align: center;
}

input[type=submit]:hover,
button:hover,
.btn-nav:hover {
    background-color: rgba(34, 24, 28, 0.1);
    backdrop-filter: blur(5px);
    cursor: pointer;
    border: 1px #22181c solid;
    color: #22181c;

}

.btn-nav {
    display: none;
    margin-right: 2rem;
}

/* Header Responsive */
@media only screen and (max-width: 1024px) {
    .wrapper-responsive {
        flex-direction: column;
    }

    .title {
        width: 80vw;
    }

    .left {
        text-align: center;
    }

    .active {
        display: block;
    }

    .btn-nav {
        display: block;
    }

    nav {
        display: none;
        position: absolute;
        top: 5rem;
        right: 0;
        width: 50vw;
        z-index: 1000;
        margin: 0;
        animation-name: animate-message-result;
        animation-duration: 1000ms;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    nav>a {
        padding: 1rem 1rem;
    }

    .home-desc {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 1rem;
        top: 1rem;
        bottom: 0rem;
        right: 0rem;
    }

    #profile {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .profile-img {
        background-size: 60vw;
        background-position: center;
        border-radius: 70vw;
        width: 70vw !important;
        height: 70vw;

    }

    .profile-desc {
        display: block;
        width: 70%;
        text-align: center;
    }

    .porto-tiles,
    .message-form-wrapper {
        flex-direction: column !important;
        padding: 0rem;
    }

    .form-wrapper {
        width: 70vw;
    }

    .result-wrapper {
        margin-top: 3rem;
        width: 60vw;
        align-self: center;
    }

    .lg-text-l {
        font-size: 8vw !important;
    }

    .lg-text-m {
        font-size: 3vw !important;
    }

    .lg:p-0 {
        padding: 0rem !important
    }
}

@keyframes animate-message-result {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}